{% extends 'layout.html.twig' %}
{% block title %}M2M Circuit{% endblock %}
{% block content %}
    <div id="banner-div" class="banner">
        <h2>M2M Circuit</h2>
        <h3>SMS Message Board</h3>
    </div>
    <div class="buffer";></div>

    {% for i in 0..9 %}
        <div class="messageboard">
            <table class="messageboard_table">
                <col width="50%">
                <tr>
                    <th colspan="2">Message {{ i + 1 }}</th>
                </tr>

                <tr>
                    <td>Fan Direction</td>
                    <td>
                        {{ messages[i + 1].fan_direction }}
                    </td>
                </tr>

                <tr>
                    <td>Heater Temperature</td>
                    <td>
                        {{ messages[i + 1].temperature }}
                    </td>
                </tr>

                <tr>
                    <td>Keypad Number</td>
                    <td>
                        {{ messages[i + 1].keypad_number }}
                    </td>
                </tr>

                <tr>
                    <td>Keypad Number</td>
                    <td>
                        {{ messages[i + 1].keypad_number }}
                    </td>
                </tr>

                {% for x in 1..4 %}
                    <tr>
                        <td>Switch {{ x }}</td>
                        <td>{{ messages[x + 1].switches[x - 1] }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td class="bold" colspan="2">Message Origin</td>
                </tr>

                <tr>
                    <td>SIM Number</td>
                    <td>{{ messages[i+1].sim_number }}</td>
                </tr>

                <tr>
                    <td>Name</td>
                    <td>{{ messages[i+1].name }}</td>
                </tr>

                <tr>
                    <td>E-mail Address</td>
                    <td>{{ messages[i+1].email }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}

    <br>

    <a href="./">Back</a>
{% endblock %}
