{% extends 'layout.html.twig' %}
{% block title %}M2M Circuit - Status{% endblock %}
{% block content %}
    <div class="banner">
        <h2>M2M Circuit</h2>
        <h3>Current status of components:</h3>
    </div>

    <div class="buffer"></div>

    <table>
        <col width="70%">
        <col width="40%">

        <tr>
            <th colspan="2">Switch Status</th>
        </tr>

        {% for i in 1..4 %}
            <tr>
                <td>Switch {{ i }}</td>
                <td>{{ switches[i - 1] }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>

    <table>
        <col width="70%">
        <col width="40%">
        <tr>
            <th colspan="2">Components State</th>
        </tr>

        <tr>
            <td>Fan Direction</td>
            <td>{{ fan_direction }}</td>
        </tr>

        <tr>
            <td>Heater Temperature</td>
            <td>{{ temperature }}</td>
        </tr>

        <tr>
            <td>Keypad</td>
            <td>{{ keypad_number }}</td>
        </tr>
    </table>

    <br>

    <a href="./">Back</a>
{% endblock %}
